torch==2.6.0
accelerate
codetiming
datasets
dill
hydra-core
numpy
pandas==2.3.0
peft
pyarrow==20.0.0
pybind11
pylatexenc
pre-commit
ray[default]
tensordict<=0.6.2
torchdata
transformers>=4.51.1
vllm==0.8.4
swanlab
packaging>=20.0
uvicorn
fastapi
math-verify[antlr4_9_3]
